// Override variables here

/*
$body-size: 18px;
$primary: #472183;
$family-primary: "Helvetica", sans-serif;
*/


//.CloudSelectComponent {
//    color: rgb(0, 0, 0);
//    text-align: center;
//
//    div.field {
//        place-content: center;
//    }
//
//    label.checkbox {
//        background-color: #fff;
//        color: #4a4a4a;
//        border-color: #4a4a4a;
//    }
//
//    label.checkbox.is-primary {
//        background-color: #7DD86F;
//        color: #ffffff;
//        border-color: #7DD86F;
//    }
//}

.Image {
  justify-content: center;
  display: flex;
}

@import "armory-sdk/src/assets/css/override.scss";
@import "armory-sdk/src/assets/css/default-skin.scss";
