body {
    background-color: rgb(255, 255, 255);
}

.GenericTemplate {
    h2 {
        text-align: center;
        color: rgb(0, 0, 0);
    }
}

.CenteredContentTemplate {
    justify-content: center !important;
}

.DescriptionComponent {
    color: rgb(0, 0, 0);
    text-align: center;
}

.CloudSelectComponent {
    color: rgb(0, 0, 0);
    text-align: center;

    div.field {
        place-content: center;
    }
    
    label.checkbox { 
        background-color: #fff;
        color: #4a4a4a;
        border-color: #4a4a4a;
    }
    
    label.checkbox.is-primary { 
        background-color: #7DD86F;
        color: #ffffff;
        border-color: #7DD86F;
    }
}

#image {
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
}