body {
    background-color: rgb(255, 255, 255);
}

.GenericTemplate {
    justify-content: center !important;

    h2 {
        text-align: center;
        color: rgb(0, 0, 0);
    }
}

.DescriptionComponent {
    color: rgb(0, 0, 0);
    text-align: center;
}

.CloudSelectComponent {
    color: rgb(0, 0, 0);
    text-align: center;
}

#image {
    display: flex;
    justify-content: center;
}

img {
    width: 50%;
}