global:
  env:
    PULSAR_URL: '{{ env.PULSAR_URL | default("pulsar://localhost:6650", true) }}'
    PULSAR_ENDPOINT_URL: '{{ env.PULSAR_ENDPOINT_URL  | default("pulsar://localhost:6650", true) }}'

    MONGO_CLIENT_HOST: '{{ env.MONGO_CLIENT_HOST | default("localhost:27017", true) }}'
    MONGO_CLIENT_USERNAME: '{{ env.MONGO_CLIENT_USERNAME | default("", true) }}'

    POSTGRES_CLIENT_HOST: '{{ env.POSTGRES_CLIENT_HOST | default("localhost", true) }}'
    POSTGRES_CLIENT_PORT: '{{ env.POSTGRES_CLIENT_PORT | default("5432", true) }}'
    POSTGRES_CLIENT_USERNAME: '{{ env.POSTGRES_CLIENT_USERNAME | default("postgres", true) }}'

    REDIS_CLIENT_HOST: '{{ env.REDIS_CLIENT_HOST |  default("localhost", true) }}'
    REDIS_CLIENT_PORT: '{{ env.REDIS_CLIENT_PORT |  default("6379", true) }}'

  secrets:
    MONGO_CLIENT_PASSWORD: '{{ env.MONGO_CLIENT_PASSWORD }}'
    POSTGRES_CLIENT_PASSWORD: '{{ env.POSTGRES_CLIENT_PASSWORD | default("postgres", true) }}'
services:
  mitems:
    env:
      SITE_URL: localhost:8001
    port: 8001

  armory:
    command:
      build: "./build.sh"
      run: "armory-admin runserver"
    env:
      SITE_URL: '{{ env.ARMORY_SITE_URL | default("http://localhost:8000", true) }}'
    port: 8000

  employee-manager:
    port: 8002
